@{
    ViewBag.Title = "O nas";
    ViewBag.Message = "Nasza firma powstała w 1945 roku. Zajmujemy się cebulami. Dokładniej sadzimy je i zbieramy. Własnymi polskimi ręcami. Robimy to z pasji, z największą dokładnością. Cebula narodowym warzywem.";
    ViewBag.Message2 = "Cebula (Allium cepa) – zwyczajowa nazwa warzywa należącego do rodziny amarylkowatych. Prawidłowa nazwa botaniczna to czosnek cebula, jest to bowiem gatunek należący do rodzaju czosnek. W użyciu jest jednak głównie nazwa cebula. Inne używane nazwy to: cebula ogrodowa, cebula zwyczajna, dymka, skulibaba.";
}
<h1>@ViewBag.Title</h1>
<h3>@ViewBag.Message</h3>
<br />
<link href="style.css" type="text/css" rel="stylesheet">
<div id="layout"></div>
<br />
<h4>@ViewBag.Message2</h4>
<br />
<br />

<center>
    <div class="sc-9d0jnc-4 fEbzgZ sc-15pjm8z-0 hrlPGw">
        <div class="sc-9d0jnc-4 fEbzgZ sc-15pjm8z-0 hrlPGw">
            <a target="_blank" class="sc-1h16fat-0 sc-15pjm8z-1 dbYvXB sc-153gokr-0 jRbixD" href="https://www.facebook.com">
                <span title="facebook" class="sc-1tblmgq-0 sc-15pjm8z-2 fBBecJ sc-1tblmgq-4 gGbRrB">

                    <svg style="width: 10%;height: 10%;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                        <path fill="#1877F2" fill-rule="evenodd" d="M12 3c-4.97 0-9 4.054-9 9.055 0 4.52 3.291 8.266 7.594 8.945v-6.328H8.309v-2.617h2.285V10.06c0-2.27 1.343-3.523 3.4-3.523.984 0 2.014.177 2.014.177v2.228h-1.135c-1.118 0-1.467.698-1.467 1.414v1.699h2.496l-.399 2.617h-2.097V21C17.71 20.32 21 16.575 21 12.055 21 7.055 16.97 3 12 3z"></path>
                    </svg>
                </span>
            </a>
        </div>
        <div>
            <a target="_blank" class="sc-1h16fat-0 sc-15pjm8z-1 dbYvXB sc-153gokr-0 jRbixD" href="https://instagram.com">
                <span title="instagram" class="sc-1tblmgq-0 sc-15pjm8z-2 fBBecJ sc-1tblmgq-4 gGbRrB">
                    <svg style="width: 10%;height: 10%;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                        <defs>
                            <radialGradient id="e0e4c7a" cx="26.069%" cy="99.953%" r="148.379%" fx="26.069%" fy="99.953%" gradientTransform="scale(.9998 1) rotate(-14.161 .26 1)">
                                <stop offset="0%" stop-color="#FED576"></stop>
                                <stop offset="27.394%" stop-color="#F47133"></stop>
                                <stop offset="72.635%" stop-color="#BC3081"></stop>
                                <stop offset="100%" stop-color="#A236B9"></stop>
                            </radialGradient>
                            <linearGradient id="e0e4c7b" x1="28.141%" x2="37.781%" y1="1.707%" y2="26.556%">
                                <stop offset="0%" stop-color="#4B67D4"></stop>
                                <stop offset="100%" stop-color="#4B67D4" stop-opacity="0"></stop>
                            </linearGradient>
                            <radialGradient id="e0e4c7c" cx="24.067%" cy="114.927%" r="127.461%" fx="24.067%" fy="114.927%">
                                <stop offset="0%" stop-color="#FED576"></stop>
                                <stop offset="31.02%" stop-color="#F47133"></stop>
                                <stop offset="68.037%" stop-color="#DA2E7D"></stop>
                                <stop offset="100%" stop-color="#BC3081"></stop>
                            </radialGradient>
                        </defs>
                        <g fill="none" transform="translate(3 3)">
                            <path fill="url(#e0e4c7a)" d="M3.107.482a4.404 4.404 0 0 0-1.592 1.037c-.5.496-.807 1-1.037 1.588-.222.57-.372 1.223-.416 2.18C.018 6.243.007 6.55.007 8.989s.011 2.746.055 3.702c.044.957.197 1.61.416 2.18.23.591.537 1.092 1.037 1.592.5.5 1 .807 1.592 1.037.57.223 1.223.372 2.18.416.956.044 1.263.055 3.702.055s2.746-.011 3.702-.055c.957-.044 1.61-.197 2.18-.416a4.404 4.404 0 0 0 1.592-1.037c.5-.5.807-1 1.037-1.592.223-.57.372-1.223.416-2.18.044-.956.055-1.263.055-3.702s-.011-2.746-.055-3.702c-.044-.957-.197-1.61-.416-2.18a4.429 4.429 0 0 0-1.033-1.588c-.5-.5-1-.807-1.592-1.037-.57-.223-1.223-.372-2.18-.416C11.738.022 11.432.01 8.993.01c-2.44 0-2.746.01-3.703.055-.96.04-1.613.193-2.183.416zm9.511 1.198c.877.04 1.351.186 1.669.31.42.164.72.358 1.033.672.314.314.508.613.672 1.033.124.318.27.792.31 1.668.044.946.051 1.23.051 3.63 0 2.398-.01 2.683-.05 3.629-.04.876-.187 1.35-.311 1.668-.164.42-.358.72-.672 1.034a2.798 2.798 0 0 1-1.033.672c-.318.124-.792.27-1.669.31-.945.044-1.23.051-3.629.051s-2.684-.011-3.63-.051c-.875-.04-1.35-.186-1.668-.31a2.798 2.798 0 0 1-1.033-.672 2.798 2.798 0 0 1-.672-1.034c-.124-.317-.27-.792-.31-1.668-.044-.946-.051-1.23-.051-3.63 0-2.398.01-2.683.05-3.629.041-.876.187-1.35.311-1.668.165-.42.358-.72.672-1.033a2.798 2.798 0 0 1 1.033-.672c.318-.124.793-.27 1.669-.31.945-.044 1.23-.052 3.629-.052s2.684.008 3.63.052z"></path>
                            <path fill="url(#e0e4c7b)" d="M3.107.482a4.404 4.404 0 0 0-1.592 1.037c-.5.496-.807 1-1.037 1.588-.222.57-.372 1.223-.416 2.18C.018 6.243.007 6.55.007 8.989s.011 2.746.055 3.702c.044.957.197 1.61.416 2.18.23.591.537 1.092 1.037 1.592.5.5 1 .807 1.592 1.037.57.223 1.223.372 2.18.416.956.044 1.263.055 3.702.055s2.746-.011 3.702-.055c.957-.044 1.61-.197 2.18-.416a4.404 4.404 0 0 0 1.592-1.037c.5-.5.807-1 1.037-1.592.223-.57.372-1.223.416-2.18.044-.956.055-1.263.055-3.702s-.011-2.746-.055-3.702c-.044-.957-.197-1.61-.416-2.18a4.429 4.429 0 0 0-1.033-1.588c-.5-.5-1-.807-1.592-1.037-.57-.223-1.223-.372-2.18-.416C11.738.022 11.432.01 8.993.01c-2.44 0-2.746.01-3.703.055-.96.04-1.613.193-2.183.416zm9.511 1.198c.877.04 1.351.186 1.669.31.42.164.72.358 1.033.672.314.314.508.613.672 1.033.124.318.27.792.31 1.668.044.946.051 1.23.051 3.63 0 2.398-.01 2.683-.05 3.629-.04.876-.187 1.35-.311 1.668-.164.42-.358.72-.672 1.034a2.798 2.798 0 0 1-1.033.672c-.318.124-.792.27-1.669.31-.945.044-1.23.051-3.629.051s-2.684-.011-3.63-.051c-.875-.04-1.35-.186-1.668-.31a2.798 2.798 0 0 1-1.033-.672 2.798 2.798 0 0 1-.672-1.034c-.124-.317-.27-.792-.31-1.668-.044-.946-.051-1.23-.051-3.63 0-2.398.01-2.683.05-3.629.041-.876.187-1.35.311-1.668.165-.42.358-.72.672-1.033a2.798 2.798 0 0 1 1.033-.672c.318-.124.793-.27 1.669-.31.945-.044 1.23-.052 3.629-.052s2.684.008 3.63.052z"></path>
                            <path fill="url(#e0e4c7c)" d="M4.378 8.993a4.612 4.612 0 1 0 9.223 0 4.612 4.612 0 0 0-9.223 0zm7.605 0a2.993 2.993 0 1 1-5.987 0 2.993 2.993 0 0 1 5.987 0z"></path>
                            <circle cx="13.787" cy="4.199" r="1.077" fill="#BF309E"></circle>
                        </g>
                    </svg>
                </span>
            </a>
        </div>
    </div>
</center>

<br />
<br />

<center>
    <iframe width="1024" height="768" src="https://www.youtube.com/embed/vofTHj2hT-k" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</center>